{% extends "body.html.twig" %}

{% block content %}
    {% if positionClassName is not defined %}
        {% set positionClassName = ' px-20 px-sm-40 px-md-60 px-lg-80 pb-30 pb-sm-40 pb-md-60 pb-lg-80 ' %}
    {% endif %}

    {% set position = 0 %}
    {% set type = 'event' %}
    {% set className = 'block' %}
    {% if class is defined and class %}
        {% set className = [className, class, type, positionClassName]|join(' ')  %}
    {% else %}
        {% set className = [className, type, positionClassName, 'pb-30 pb-sm-40 pb-lg-60 pb-xxxl-80']|join(' ') %}
    {% endif %}

    <div class=" {{ className }}" id="{{ type }}-{{ position }}">
        <div class="row mb-3">
            <div class="col-12">
                {% include '@SuluEvent/includes/elements/title.html.twig' with {'title': event.title, 'position': 1, 'addCss': 'mb-0'} %}
                <p>
                    <small>
                        {% include '@SuluEvent/includes/elements/date-start-end.html.twig' with {'startDate': event.startDate, 'endDate': event.endDate} %}
                    </small>
                </p>
            </div>
            {% if event.description %}
                <div class="col-12 mb-3">
                    {% include '@SuluEvent/includes/elements/text.html.twig' with {'text': event.description} %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
