<?xml version="1.0" ?>
<list xmlns="http://schemas.sulu.io/list-builder/list">
    <key>events</key>

    <joins name="dimensionContent">
        <join>
            <entity-name>dimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>dimensionContent.locale = :locale AND dimensionContent.stage = 'draft' AND dimensionContent.version = 0</condition>
        </join>
    </joins>

    <joins name="liveDimensionContent">
        <join>
            <entity-name>liveDimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>liveDimensionContent.locale = :locale AND liveDimensionContent.stage = 'live'</condition>
        </join>
    </joins>

    <joins name="ghostDimensionContent">
        <join>
            <entity-name>ghostDimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>ghostDimensionContent.locale = dimensionContent.ghostLocale AND ghostDimensionContent.stage = 'draft' AND ghostDimensionContent.version = 0 AND dimensionContent.locale IS NULL</condition>
        </join>
    </joins>

    <joins name="location" ref="dimensionContent">
        <join>
            <entity-name>locationEntity</entity-name>
            <field-name>dimensionContent.location</field-name>
            <method>LEFT</method>
        </join>
    </joins>

    <joins name="creatorUser" ref="dimensionContent">
        <join>
            <entity-name>creatorUser</entity-name>
            <field-name>dimensionContent.creator</field-name>
        </join>
    </joins>

    <joins name="creatorContact" ref="creatorUser">
        <join>
            <entity-name>creatorContact</entity-name>
            <field-name>creatorUser.contact</field-name>
        </join>
    </joins>

    <joins name="changerUser" ref="dimensionContent">
        <join>
            <entity-name>changerUser</entity-name>
            <field-name>dimensionContent.changer</field-name>
        </join>
    </joins>

    <joins name="changerContact" ref="changerUser">
        <join>
            <entity-name>changerContact</entity-name>
            <field-name>changerUser.contact</field-name>
        </join>
    </joins>

    <joins name="authorContact" ref="dimensionContent">
        <join>
            <entity-name>authorContact</entity-name>
            <field-name>dimensionContent.author</field-name>
        </join>
    </joins>

    <joins name="image" ref="dimensionContent">
        <join>
            <entity-name>Sulu\Bundle\MediaBundle\Entity\Media</entity-name>
            <field-name>dimensionContent.image</field-name>
            <method>LEFT</method>
        </join>
    </joins>

    <properties>
        <property name="id" translation="sulu_admin.id" visibility="no">
            <field-name>id</field-name>
            <entity-name>Manuxi\SuluEventBundle\Entity\Event</entity-name>
        </property>

        <property name="version" visibility="never">
            <field-name>version</field-name>
            <entity-name>dimensionContent</entity-name>
        </property>

        <property name="image" visibility="always" translation="sulu_event.image" sortable="false">
            <field-name>id</field-name>
            <entity-name>Sulu\Bundle\MediaBundle\Entity\Media</entity-name>
            <joins ref="image"/>
            <transformer type="thumbnails"/>
        </property>

        <case-property name="title" translation="sulu_admin.title" visibility="always" searchability="yes">
            <field>
                <field-name>title</field-name>
                <entity-name>dimensionContent</entity-name>
                <joins ref="dimensionContent"/>
            </field>
            <field>
                <field-name>title</field-name>
                <entity-name>ghostDimensionContent</entity-name>
                <joins ref="ghostDimensionContent"/>
            </field>
            <transformer type="title"/>
        </case-property>

        <property name="type" translation="sulu_event.type" visibility="always">
            <field-name>type</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
            <!-- <transformer type="event_type_color" /> -->
        </property>

        <property name="location" translation="sulu_event.location" visibility="always">
            <field-name>name</field-name>
            <entity-name>locationEntity</entity-name>
            <joins ref="location"/>
        </property>

        <property name="startDate" translation="sulu_event.start_date" visibility="always">
            <field-name>startDate</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="endDate" translation="sulu_event.end_date" visibility="always">
            <field-name>endDate</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="subtitle" translation="sulu_event.subtitle" visibility="no">
            <field-name>subtitle</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <concatenation-property name="author" translation="sulu_event.author" visibility="yes" searchability="yes">
            <field>
                <field-name>firstName</field-name>
                <entity-name>authorContact</entity-name>
                <joins ref="authorContact"/>
            </field>
            <field>
                <field-name>lastName</field-name>
                <entity-name>authorContact</entity-name>
                <joins ref="authorContact"/>
            </field>
        </concatenation-property>

        <property name="created" translation="sulu_admin.created" type="datetime" visibility="no">
            <field-name>created</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <concatenation-property name="creator" translation="sulu_admin.creator" visibility="no" searchability="yes">
            <field>
                <field-name>firstName</field-name>
                <entity-name>creatorContact</entity-name>
                <joins ref="creatorContact"/>
            </field>
            <field>
                <field-name>lastName</field-name>
                <entity-name>creatorContact</entity-name>
                <joins ref="creatorContact"/>
            </field>
        </concatenation-property>

        <property name="changed" translation="sulu_admin.changed" type="datetime" visibility="no">
            <field-name>changed</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <concatenation-property name="changer" translation="sulu_admin.changer" visibility="no" searchability="yes">
            <field>
                <field-name>firstName</field-name>
                <entity-name>changerContact</entity-name>
                <joins ref="changerContact"/>
            </field>
            <field>
                <field-name>lastName</field-name>
                <entity-name>changerContact</entity-name>
                <joins ref="changerContact"/>
            </field>
        </concatenation-property>

        <property name="publishedState" type="string" visibility="never">
            <field-name>workflowPlace</field-name>
            <entity-name>dimensionContent</entity-name>
        </property>

        <property name="publishedAt" translation="sulu_admin.published" type="datetime" visibility="yes">
            <field-name>workflowPublished</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="livePublished" type="date" visibility="never">
            <field-name>workflowPublished</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="liveDimensionContent"/>
            <transformer type="datetime"/>
        </property>
    </properties>
</list>