<?xml version="1.0" ?>
<list xmlns="http://schemas.sulu.io/list-builder/list">
    <key>events</key>

    <joins name="dimensionContent">
        <join>
            <entity-name>dimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>dimensionContent.locale = :locale AND dimensionContent.stage = 'draft' AND dimensionContent.version = 0</condition>
        </join>
    </joins>

    <joins name="unlocalizedDimensionContent">
        <join>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>unlocalizedDimensionContent.locale IS NULL AND unlocalizedDimensionContent.stage = 'draft' AND unlocalizedDimensionContent.version = 0</condition>
        </join>
    </joins>

    <joins name="ghostDimensionContent" ref="unlocalizedDimensionContent">
        <join>
            <entity-name>ghostDimensionContent</entity-name>
            <field-name>Manuxi\SuluEventBundle\Entity\Event.dimensionContents</field-name>
            <method>LEFT</method>
            <condition>dimensionContent.locale IS NULL AND ghostDimensionContent.locale = unlocalizedDimensionContent.ghostLocale AND ghostDimensionContent.stage = 'draft' AND dimensionContent IS NULL</condition>
        </join>
    </joins>

    <joins name="location">
        <join>
            <entity-name>locationEntity</entity-name>
            <field-name>unlocalizedDimensionContent.location</field-name>
            <method>LEFT</method>
        </join>
    </joins>

    <properties>
        <property name="id" translation="sulu_admin.id">
            <field-name>id</field-name>
            <entity-name>Manuxi\SuluEventBundle\Entity\Event</entity-name>
        </property>

        <property name="version" visibility="never">
            <field-name>version</field-name>
            <entity-name>dimensionContent</entity-name>
        </property>

        <case-property name="title" translation="sulu_admin.title" visibility="always" searchability="yes">
            <field>
                <field-name>title</field-name>
                <entity-name>dimensionContent</entity-name>
                <joins ref="dimensionContent"/>
            </field>
            <field>
                <field-name>title</field-name>
                <entity-name>ghostDimensionContent</entity-name>
                <joins ref="ghostDimensionContent"/>
            </field>
            <transformer type="title"/>
        </case-property>

        <property name="locale" translation="sulu_admin.locale" visibility="never">
            <field-name>locale</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="ghostLocale" translation="sulu_admin.ghost_locale" visibility="never">
            <field-name>locale</field-name>
            <entity-name>ghostDimensionContent</entity-name>
            <joins ref="ghostDimensionContent"/>
        </property>

        <property name="type" translation="sulu_event.type" visibility="always">
            <field-name>type</field-name>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <joins ref="unlocalizedDimensionContent"/>
        </property>

        <property name="location" translation="sulu_event.location" visibility="always">
            <field-name>name</field-name>
            <entity-name>locationEntity</entity-name>
            <joins ref="location"/>
        </property>

        <property name="startDate" translation="sulu_event.start_date" type="datetime" visibility="always">
            <field-name>startDate</field-name>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <joins ref="unlocalizedDimensionContent"/>
        </property>

        <property name="endDate" translation="sulu_event.end_date" type="datetime" visibility="no">
            <field-name>endDate</field-name>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <joins ref="unlocalizedDimensionContent"/>
        </property>

        <property name="email" translation="sulu_event.email" visibility="no">
            <field-name>email</field-name>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <joins ref="unlocalizedDimensionContent"/>
        </property>

        <property name="phoneNumber" translation="sulu_event.phone_number" visibility="no">
            <field-name>phoneNumber</field-name>
            <entity-name>unlocalizedDimensionContent</entity-name>
            <joins ref="unlocalizedDimensionContent"/>
        </property>

        <property name="subtitle" translation="sulu_event.subtitle" visibility="no">
            <field-name>subtitle</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="showAuthor" translation="sulu_event.show_author" type="bool" visibility="no">
            <field-name>showAuthor</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="showDate" translation="sulu_event.show_date" type="bool" visibility="no">
            <field-name>showDate</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="created" translation="sulu_admin.created" type="datetime" visibility="no">
            <field-name>created</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="changed" translation="sulu_admin.changed" type="datetime" visibility="no">
            <field-name>changed</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="workflowPlace" translation="sulu_admin.state" visibility="always">
            <field-name>workflowPlace</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>

        <property name="workflowPublished" translation="sulu_admin.published" type="datetime" visibility="no">
            <field-name>workflowPublished</field-name>
            <entity-name>dimensionContent</entity-name>
            <joins ref="dimensionContent"/>
        </property>
    </properties>
</list>