<?xml version="1.0" ?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.sulu.io/template/template"
      xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/form-1.0.xsd"
>
    <key>config</key>

    <properties>
        <section name="event-settings">
            <meta>
                <title>sulu_event.config.title.general</title>
            </meta>
            <properties>

                <property name="toggleHeader" type="checkbox" colspan="3">
                    <meta>
                        <title>sulu_event.config.properties.toggle_header</title>
                    </meta>
                    <params>
                        <param name="type" value="toggler"/>
                        <param name="default_value" value="true"/>
                    </params>
                </property>

                <property name="toggleHero" type="checkbox" colspan="3">
                    <meta>
                        <title>sulu_event.config.properties.toggle_hero</title>
                    </meta>
                    <params>
                        <param name="type" value="toggler"/>
                        <param name="default_value" value="true"/>
                    </params>
                </property>

                <property name="toggleBreadcrumbs" type="checkbox" colspan="3">
                    <meta>
                        <title>sulu_event.config.properties.toggle_breadcrumbs</title>
                    </meta>
                    <params>
                        <param name="type" value="toggler"/>
                        <param name="default_value" value="true"/>
                    </params>
                </property>

            </properties>
        </section>

        <section name="events-settings-breadcrumbs">
            <meta>
                <title>sulu_event.config.title.breadcrumbs</title>
            </meta>
            <properties>
                <property name="pageEvents" type="single_page_selection" colspan="6">
                    <meta>
                        <title>sulu_event.config.properties.page_events</title>
                    </meta>
                </property>
                <property name="pageEventsPending" type="single_page_selection" colspan="6">
                    <meta>
                        <title>sulu_event.config.properties.page_events_pending</title>
                    </meta>
                </property>
                <property name="pageEventsExpired" type="single_page_selection" colspan="6">
                    <meta>
                        <title>sulu_event.config.properties.page_events_expired</title>
                    </meta>
                </property>
            </properties>
        </section>

    </properties>
</form>